.features__box {
	width: 270px;
	height: 120px;
	border-radius: 4px;
	background-color: var(--second-backround-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.features__list {
	display: flex;
	gap: 30px;
}

.features__title {
	@include third-title ($fw:700, $fs:14px, $lh:16px,);
	text-transform: uppercase;
	color: var(--first-title-color);
	margin-bottom: 10px;
	margin-top: 30px;
}
.features__text {
	@include text($fs:14px, $lh:24px,);
	color: var(--first-text-color);
}
li.features__item {
    min-width: 270px;
}