// .features {
// 	padding-top: 60px;
// 	padding-bottom: 60px;
// }

.features__box {
	// width: 270px;
	height: 120px;
	border-radius: 4px;
	background-color: var(--second-backround-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.features__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	@include desktop {
		flex-wrap: nowrap;
	}
}

.features__title {
	@include third-title ($fw:700, $fs:14px, $lh:16px,);
	text-transform: uppercase;
	color: var(--first-title-color);
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
	@include tablet {
		text-align: left;
	}
	
}
.features__text {
	@include text($fs:14px, $lh:24px,);
	color: var(--first-text-color);
}
li.features__item {
    width: 100%;
	@include tablet {
		width: calc((100% - 30px)/2);
	}
	@include desktop {
		width: calc((100% - 30px)/4);
	}
}
