.header {
	border-bottom: 1px solid #ECECEC;
}

.header__logo {
	@include font(700, 26px, 31px, 0.03em);
	font-family: "Raleway";
	font-style: normal;
	color: #000000;
	margin-right: 93px;
	align-items: center;
}

.navigation__list {
	display: flex;
}
.navigation__item:not(:last-child) {
	margin-right: 50px;
}

.header__container {
	display: flex;
	align-items: center;}

.navigation__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	@include first-link ();
	transition: var(--color-tranzition);
	&:focus, &:hover {
	color: var(--accent-color);
}
}

.header__contact-icon {
	margin-right: 10px;
	fill: currentColor;
}

.header__contact-mail {
	margin-right: 50px;
}
.header__contact {	
	display: flex;
	margin-left: auto;
}

.header__tel {
	@include first-link ();
	color: var(--first-text-color);
	display: flex;
	align-items: center;
	transition: var(--color-tranzition);
	&:hover, &:focus {
	color: var(--accent-color);
}
}

.header__mail {
	@include first-link ();
	color: var(--first-text-color);
	display: flex;
	align-items: center;
	transition: var(--color-tranzition);
	&:hover, &:focus {
	color: var(--accent-color);
}
}
