.hero {
	width: 100%;
	margin: 0 auto;
	background-color: var(--first-background-color);
	// padding: 200px 0;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.hero__title {
	margin: 0 auto 30px;
	max-width: 696px;
	@include first-title ($fs:20px, $lh:32px);
	text-align: center;
	text-transform: uppercase;
	// color: var(--second-title-color);
	color: red
	// @include mobile {
	// 	@include first-title ();
	// 	max-width: 360px;
	// };
}
.hero__btn {
	display: block;
	margin: 30px auto 0;
	min-width: 216px;
	@include btn ();
}

.hero.section {
	padding: 118px 0;
}

