.filter__btn {
	height: 38px;
	background-color: var(--second-backround-color);
	@include filter-btn ();
	color: var(--first-title-color);
	padding: 6px 22px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus, &:hover {
	background-color: var(--second-btn-color);
	color: #FFFFFF;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
.portfolio__link {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus, &:hover {
	display: block;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.portfolio__title { 
	@include third-title ($fw:700, $lh:36px, $ls:0.06em);
	color: var(--first-title-color);
	margin-bottom: 4px;
}

.portfolio__after-title {
	@include after-title ();
	color: var(--first-text-color);
}

.filter__list-btn {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.portfolio__item {
	box-sizing: border-box;
	width: 370px;
	height: 404px;
	&:hover .portfolio__text {
	transform: translateY(0);
}
}

.portfolio__item-box {
	padding: 20px 24px;
	background: #FFFFFF;
	border-right:  1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	border-left:  1px solid #EEEEEE;
}

.portfolio__text-wrap {
	position: relative;
	overflow: hidden;
}

.portfolio__text {
	@include text ();
	color: var(--second-text-color);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 63px 24px;
	background: rgba(33, 150, 243, 0.9);
	transform: translateY(101%);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	overflow: auto;
}