.team__list {
	display: flex;
	gap: 30px;
}
.team {
	background-color: var(--second-backround-color);
}
.team__item {
	width: calc((100% - 90px)/4);
	width: 270px;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team__item-title {
	@include third-title ($lh:19px);
	text-align: center;
	color: var(--first-title-color);
	margin-bottom: 10px;
}
.team__after-title {
	@include after-title ($lh:19px);
	text-align: center;
	color: var(--first-text-color);
	margin-bottom: 16px;
}
.team__item-box {
	padding: 30px 0;
}
.team__soc{ 
	display: flex;
	justify-content: center;
	gap: 10px;
}
.team__soc-link { 
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color:transparent;
	display: flex; 
	align-items: center;
	justify-content: center;
	transition: var(--backgroun-tranzition);
	&:hover, &:focus {
	background-color: var(--accent-color);
	}
}
.team__soc-icon {
	fill: var(--icons-first-color);
	transition: var(--fill-tranzition);
	.team__soc-link:hover &,
	.team__soc-link:focus & {
	fill: var(--icons-second-color);
}
}