:root{
	// fonts
	$fontFamily: 'Roboto', sans-serif;
	$LogoFamily: 'Raleway', sans-serif;
	// color
	--first-title-color:#212121;
	--second-title-color: #ffffff;
	--first-text-color: #757575;
	--second-text-color: #ffffff;
	--first-btn-color: #f5f4fa;
	--second-btn-color: #2196f3;
	--accent-color: #2196f3;
	--first-background-color: #2F303A;
	--second-backround-color: #f5f4fa;
	--icons-first-color: #AFB1B8;
	--icons-second-color: #ffffff;
	--menu-background-color: #ffffff;
	--backgroun-tranzition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--color-tranzition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--fill-tranzition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--border-tranzition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	// fonts
}
	
	


